target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/

*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Terraform ###
# Terraform 状态文件
terraform.tfstate
terraform.tfstate.*
# Terraform 缓存目录
.terraform/
# 依赖锁文件（视团队习惯，建议提交）
# .terraform.lock.hcl
# Terraform 计划文件
*.tfplan
plan.out
plan.json
terraform/ec2plan
# 变量文件（敏感信息）
terraform/terraform.tfvars


# === Docker ===
*.log

# === GitHub Secrets / SSH Key ===
*.pem

secrets/